<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dq.huibao">

    <!-- QQ登录授权所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--微信登录授权所需权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--微信开放平台
    appid：wxadb94b9d28fae856
    token：A64638FFAA4TgGoy4yOcl8p4pBfagsy3
    -->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 注册SDKActivity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1106502346" /> <!-- 开放平台获取的APPID -->
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--主界面-->
        <activity
            android:name="com.dq.huibao.ui.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--web网页-->
        <activity android:name="com.dq.huibao.ui.homepage.WebActivity" />

        <!--商品详情-->
        <activity android:name="com.dq.huibao.ui.GoodsDetailsActivity" />

        <!--显示大图-->
        <activity android:name="com.dq.huibao.ui.ShowBigPictrueActivity" />

        <!--商品列表-->
        <activity
            android:name="com.dq.huibao.ui.GoodsListActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity android:name="com.dq.huibao.ui.KeywordsActivity" />

        <!--登录-->
        <activity android:name="com.dq.huibao.ui.LoginActivity" />

        <!--注册-->
        <activity android:name="com.dq.huibao.ui.RegistActivity" />

        <!--提交订单-->
        <activity android:name="com.dq.huibao.ui.SubmitOrderActivity" />

        <!--管理收货地址-->
        <activity android:name="com.dq.huibao.ui.memcen.AddressListActivity" />

        <!--添加收货地址-->
        <activity android:name="com.dq.huibao.ui.memcen.AddAddressActivity" />

        <!--我的订单-->
        <activity android:name="com.dq.huibao.ui.memcen.OrderActivity" />

        <!--购物车-->
        <activity android:name="com.dq.huibao.ui.memcen.ShopcarActivity" />

        <!--我的收藏-->
        <activity android:name="com.dq.huibao.ui.memcen.CollectActivity" />

        <!--我的足迹-->
        <activity android:name="com.dq.huibao.ui.memcen.FootprintActivity" />

        <!--优惠券-->
        <activity android:name="com.dq.huibao.ui.memcen.CouponsActivity" />


    </application>

</manifest>